{% extends 'layout/base.html' %} 
{% load humanize %} 
{% block titulo%}Calcular{% endblock titulo %} 

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/analisis.css' %}">
<h2 class="text-center mb-4">Resultados de Análisis</h2>

<!-- Formulario de selección -->
<form method="POST" action="{% url 'calcular_analisis_resultado_comparativo' %}">
  {% csrf_token %}
  <div class="row mb-3">
    <div class="col-md-6">
      <label for="empresa1" class="form-label">Empresa 1:</label>
      <select name="empresa1" id="empresa1" class="form-select" required>
        <option value="">Seleccione una empresa</option>
        {% for empresa in empresas %}
        {% if acceso.id_opcion.tipo_usuario == "AFM"  and empresa.sector == "Minería" %}
        <option value="{{ empresa.idEmpresa }}">{{ empresa.nombre }}</option>
        {% elif acceso.id_opcion.tipo_usuario == "AFE"  and empresa.sector == "Energía" %}
        <option value="{{ empresa.idEmpresa }}">{{ empresa.nombre }}</option>
        {% elif acceso.id_opcion.tipo_usuario == "ADM" %}
        <option value="{{ empresa.idEmpresa }}">{{ empresa.nombre }}</option>
        {% endif %}
        {% endfor %}
      </select>
    </div>
    <div class="col-md-6">
      <label for="resultado1" class="form-label">E. Resultado Empresa 1:</label>
      <select name="resultado1" id="resultado1" class="form-select" required>
        <option value="">Seleccione un E. Resultado</option>
        {% for resultado in resultados %}
        <option value="{{ resultado.idResultado }}">
          {{ resultado.nombre }} - {{ resultado.fecha }}
        </option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <label for="empresa2" class="form-label">Empresa 2:</label>
      <select name="empresa2" id="empresa2" class="form-select" required>
        <option value="">Seleccione una empresa</option>
        {% for empresa in empresas %}
        {% if acceso.id_opcion.tipo_usuario == "AFM"  and empresa.sector == "Minería" %}
        <option value="{{ empresa.idEmpresa }}">{{ empresa.nombre }}</option>
        {% elif acceso.id_opcion.tipo_usuario == "AFE"  and empresa.sector == "Energía" %}
        <option value="{{ empresa.idEmpresa }}">{{ empresa.nombre }}</option>
        {% elif acceso.id_opcion.tipo_usuario == "ADM" %}
        <option value="{{ empresa.idEmpresa }}">{{ empresa.nombre }}</option>
        {% endif %}
        {% endfor %}
      </select>
    </div>
    <div class="col-md-6">
      <label for="resultado2" class="form-label">B. Resultado Empresa 2:</label>
      <select name="resultado2" id="resultado2" class="form-select" required>
        <option value="">Seleccione un E. Resultado</option>
        {% for resultado in resultados %}
        <option value="{{ resultado.idResultado }}">
          {{ resultado.nombre }} - {{ resultado.fecha }}
        </option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="text-left d-flex gap-2">
    <button type="submit" class="btn btn-primary w-50">Calcular</button>
    <a href="{% url 'menu_comparativo' %}" class="btn btn-secondary w-50">Volver</a>
</div>


</form>

<!-- Mensajes de error -->
{% if messages %} 
{% for message in messages %}
<div class="alert alert-danger mt-3">{{ message }}</div>
{% endfor %} 
{% endif %}

<!-- Resultados del Análisis -->
{% if analisis %}
<!-- Contenedor con scroll para la tabla -->
<div class="mt-2" style="max-height: 400px; overflow-y: auto">
  <table class="table table-bordered table-striped mt-3">
    <thead class="table-dark">
      <tr>
        <th>Cuenta</th>
        <th>Monto Empresa 1</th>
        <th>Vertical Empresa 1 (%)</th>
        <th>Monto Empresa 2</th>
        <th>Vertical Empresa 2 (%)</th>
        <th>Análisis Horizontal (%)</th>
      </tr>
    </thead>
    <tbody>
      {% for item in analisis %}
      <tr>
        <td>{{ item.cuenta }}</td>
        <td>{{ item.monto_empresa1|intcomma }}</td>
        <td>{{ item.vertical_empresa1|floatformat:2 }}%</td>
        <td>{{ item.monto_empresa2|intcomma }}</td>
        <td>{{ item.vertical_empresa2|floatformat:2 }}%</td>
        <td>{{ item.horizontal|floatformat:2 }}%</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %} 
{% endblock content %}
