{% extends 'layout/base.html' %}
{% block titulo %}E. resultado{% endblock titulo %}

{% block content %}
<div>
    <h2 class="titulo-pagina">Listado de todos los Estados de Resultados</h2>
</div>
<a href="{% url 'crear_resultado' %}" class="btn btn-primary me-3">Crear nuevo E. Resultado</a> 
<a href="{% url 'index' %}" class="btn btn-secondary px-5">Volver a inicio</a>
<br><br>
{% if messages %}
<div class="mb-3">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>
{% endif %}

<div class="table-responsive">
    <table class="table table-hover table-bordered align-middle">
        <thead class="table-light">
            <tr>
                <th>Nº</th>
                <th>Nombre</th>
                <th>Empresa</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% if resultados %}
            {% for resultado in resultados %}
            {% if acceso.id_opcion.tipo_usuario == "AFM"  and resultado.idEmpresa.sector == "Minería" %}
            <tr>
                <td> {{ forloop.counter }}</td>
                <td>{{ resultado.nombre }}</td>
                <td>{{ resultado.idEmpresa }}</td>
                <td>{{ resultado.fecha }}</td>
                <td>
                    <a href="{% url 'detalle_cuenta_resultado' resultado.idResultado %}" class="btn btn-info btn-sm text-white me-1">Detalles</a>
                    <a href="{% url 'editar_resultado' resultado.pk %}" class="btn btn-warning btn-sm me-1">Editar</a>
                    <a href="{% url 'eliminar_resultado' resultado.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% elif acceso.id_opcion.tipo_usuario == "AFE"  and resultado.idEmpresa.sector == "Energía" %}
            <tr>
                <td> {{ forloop.counter }}</td>
                <td>{{ resultado.nombre }}</td>
                <td>{{ resultado.idEmpresa }}</td>
                <td>{{ resultado.fecha }}</td>
                <td>
                    <a href="{% url 'detalle_cuenta_resultado' resultado.idResultado %}" class="btn btn-info btn-sm text-white me-1">Detalles</a>
                    <a href="{% url 'editar_resultado' resultado.pk %}" class="btn btn-warning btn-sm me-1">Editar</a>
                    <a href="{% url 'eliminar_resultado' resultado.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% elif acceso.id_opcion.tipo_usuario == "ADM" %}
            <tr>
                <td> {{ forloop.counter }}</td>
                <td>{{ resultado.nombre }}</td>
                <td>{{ resultado.idEmpresa }}</td>
                <td>{{ resultado.fecha }}</td>
                <td>
                    <a href="{% url 'detalle_cuenta_resultado' resultado.idResultado %}" class="btn btn-info btn-sm text-white me-1">Detalles</a>
                    <a href="{% url 'editar_resultado' resultado.pk %}" class="btn btn-warning btn-sm me-1">Editar</a>
                    <a href="{% url 'eliminar_resultado' resultado.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="5" class="text-center"><strong>No hay E. Resultados registrados</strong></td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}