{% extends 'layout/base.html' %}
{% block titulo %}secciones{% endblock titulo %}

{% block content %}
    <div class="container mt-5">
        <h2 class="text-center">Resultado del Ratio</h2>
        <table class="table table-bordered mt-4">
            <tr>
                <th>ID Balance</th>
                <td>{{ id_balance }}</td>
            </tr>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Sección</th>
                    <th>SubSección</th>
                    <th>Valor</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for razon in razones %}
                <tr>
                    <td>{{ razon.nombre }}</td>
                    <td>{{ razon.seccion.nombre }}</td>
                    <td>{{ razon.subseccion.nombre }}</td>
                    <td>{{ razon.valor }}</td>
                    <td>
                        <a href="{% url 'editar_razon' razon.pk %}" class="btn btn-primary btn-sm">Editar</a>
                        <a href="{% url 'eliminar_razon' razon.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'menu_cruds' %}" class="btn btn-secondary">Volver a la lista de ratios</a>
    </div>
{% endblock %}