{% load static %}
<nav class="navbar navbar-light bg-light justify-content-end">
  <a class="navbar-brand" href="#">Navbar</a>
  <div>
    <ul class="navbar-nav flex-row">
      <li class="nav-item mx-2">
        <!-- Agregamos mx-2 para margen horizontal -->
        <a class="nav-link" href="{% url 'index' %}">Volver a Inicio</a>
      </li>
      <li class="nav-item mx-2">
        <!-- Agregamos mx-2 para margen horizontal -->
        <a class="nav-link" href="#">Cerrar Sesión</a>
      </li>
    </ul>
  </div>
</nav>
