{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}"> <!-- Archivo CSS -->

<nav class="navbar navbar-light  justify-content-end" style="background-color: #B7B7B7;">
  <div>
    <ul class="navbar-nav flex-row">
      <li class="nav-item mx-2">
        <!-- Agregamos mx-2 para margen horizontal -->
        <a class="nav-link" href="{% url 'index' %}">Volver a Inicio</a>
      </li>
      <li class="nav-item mx-2">
        <!-- Agregamos mx-2 para margen horizontal -->
        <a class="nav-link" href="{% url 'exit' %}">Cerrar Sesión</a>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item mx-2">
        <a class="nav-link" href="{% url 'detalle_usuario' user.pk %}">
         ¡Bienvenido!, {{ user.nom_usuario }}
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
