{% extends 'layout/base.html' %}
{% block titulo %}Crear empresa{% endblock titulo %}

{% block content %}
        <h2 class="mb-4 titulo-pagina">Crear Empresa</h2>
        
        <form method="post" class="p-5 shadow rounded bg-light">
            {% csrf_token %}
            
            <!-- Aquí se personalizan los campos del formulario -->
            <div class="row g-3 mb-4">  <!-- Aumenta el espacio entre campos con 'g-3' y margen inferior con 'mb-4' -->
                {{ form.as_p }}
            </div>

            <!-- Botones de acción -->
            <div class="d-flex justify-content">
                <button type="submit" class="btn btn-success me-3 px-5">Guardar</button>  <!-- Botón más grande con 'btn-lg' y más ancho con 'px-5' -->
                <a href="{% url 'lista_empresa' %}" class="btn btn-secondary px-5">Cancelar</a>
            </div>
        </form>

        <!-- Mensajes de Alerta -->
        {% if messages %}
            <div class="mt-4">
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
{% endblock %}