{% extends 'layout/base.html' %}
{% block titulo %}Crear empresa{% endblock titulo %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del empresa</title>
</head>
<body>
    <h1>Detalles del empresa</h1>
    <p><strong>Nombre de empresa:</strong> {{ empresa.nombre }}</p>
    <p><strong>Dirección:</strong> {{ empresa.direccion }}</p>
    <p><strong>Teléfono:</strong>{{ empresa.telefono }}</p>
    <p><strong>Sector:</strong>{{ empresa.sector }}</p>
    <a href="{% url 'lista_empresa' %}">Volver a la lista</a>

{% endblock %}