{% extends 'layout/base.html' %}
{% block titulo %}Empresas{% endblock titulo %}

{% block content %}
<div>
    <h2 class="titulo-pagina">Listado de todas las Empresas</h2>
</div>
<a href="{% url 'crear_empresa' %}" class="btn btn-primary me-3">Crear nueva empresa</a>
<a href="{% url 'index' %}" class="btn btn-secondary px-5">Volver a inicio</a>
<br><br>
{% if messages %}
<div class="mb-3">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>
{% endif %}

<div class="table-responsive">
    <table class="table table-hover table-bordered align-middle">
        <thead class="table-light">
            <tr>
                <th>Nº</th>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Sector</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% if empresas %}
            {% for empresa in empresas %}
            {% if acceso.id_opcion.tipo_usuario == "AFM"  and empresa.sector == "Minería" %}
            <tr>
                <td> {{ forloop.counter }}</td>
                <td>{{ empresa.nombre }}</td>
                <td>{{ empresa.direccion }}</td>
                <td>{{ empresa.telefono }}</td>
                <td>{{ empresa.sector }}</td>
                <td>
                    <a href="{% url 'detalle_empresa' empresa.pk %}" class="btn btn-info btn-sm text-white me-1">Detalles</a>
                    <a href="{% url 'editar_empresa' empresa.pk %}" class="btn btn-warning btn-sm me-1">Editar</a>
                    <a href="{% url 'eliminar_empresa' empresa.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% elif acceso.id_opcion.tipo_usuario == "AFE" and empresa.sector == "Energía" %}
            <tr>
                    <td> {{ forloop.counter }}</td>
                    <td>{{ empresa.nombre }}</td>
                    <td>{{ empresa.direccion }}</td>
                    <td>{{ empresa.telefono }}</td>
                    <td>{{ empresa.sector }}</td>
                    <td>
                        <a href="{% url 'detalle_empresa' empresa.pk %}" class="btn btn-info btn-sm text-white me-1">Detalles</a>
                        <a href="{% url 'editar_empresa' empresa.pk %}" class="btn btn-warning btn-sm me-1">Editar</a>
                        <a href="{% url 'eliminar_empresa' empresa.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
             </tr>
            {% elif acceso.id_opcion.tipo_usuario == "ADM" %}
            <tr>
                <td> {{ forloop.counter }}</td>
                <td>{{ empresa.nombre }}</td>
                <td>{{ empresa.direccion }}</td>
                <td>{{ empresa.telefono }}</td>
                <td>{{ empresa.sector }}</td>
                <td>
                    <a href="{% url 'detalle_empresa' empresa.pk %}" class="btn btn-info btn-sm text-white me-1">Detalles</a>
                    <a href="{% url 'editar_empresa' empresa.pk %}" class="btn btn-warning btn-sm me-1">Editar</a>
                    <a href="{% url 'eliminar_empresa' empresa.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="6" class="text-center"><strong>No hay empresas registradas</strong></td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}