:root {
  --primary-color-1: #007bff;
  --primary-color-1-light: #66b3ff;
  --primary-color-1-dark: #0056b3;

  --primary-color-2: #5bc0de;
  --primary-color-2-light: #9cd9e6;
  --primary-color-2-dark: #3a9bb8;

  --secondary-color: #f0f0f0;
  --secondary-color-light: #ffffff;
  --secondary-color-dark: #d0d0d0;

  --background-color: #e9ecef;
  --background-color-light: #ffffff;
  --background-color-dark: #d1d1d1;

  --grey-primary: #343a40;
  --grey-primary-light: #495057c0;
  --grey-primary-dark: #212529;

  --text-light: #ffffff;

  --hover-color: #0056b3;
  --hover-color-light: #007bff;
  --hover-color-dark: #004494;
}

.img-machape {
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.gif-machape {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;
  width: 50%;
  height: 50%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.contenedor:hover .img-machape {
  opacity: 0;
}

.contenedor:hover .gif-machape {
  opacity: 1;
}

.contenedor {
  position: relative;
  width: 100%;
  z-index: 0;
}

.btn-sidebar:hover {
  background-color: var(--hover-color-light);
}

.hovernav {
  border-bottom: 2px solid white;
  transition: border-bottom 0.5s;
}

.hovernav:hover {
  border-bottom: 2px solid rgb(0, 0, 0);
}

#sideP {
  position: fixed;
  margin: -30px;
  margin-top: 20px;


}

#sidebar {
  background-color: var(--grey-primary-light);
  width: 250px;
  height: 100%;
  transition: width 1s ease;
  display: none;

}

.btn-sidebar {
  position: absolute;
  right: -25px;
  top: 5px;
  padding: 0.3rem;
  font-size: 24px;
  z-index: 1000;
  background-color: var(--primary-color-1-light);
  color: var(--text-light);
  border: var(--grey-primary-dark) solid 0.5px;
  border-radius: 5px;
  cursor: pointer;
}
