{% extends 'layout/base.html' %}
{% load humanize %}
{% block titulo %}Detalle balance{% endblock titulo %}

{% block content %}
<h2 class="mb-4 titulo-pagina">Detalle del Balance General</h2>

<div class="card mb-4">
    <div class="card-body">
        <p class="mensaje"><strong>Empresa:</strong> {{ balance.idEmpresa }}</p>
        <p><strong>Nombre:</strong> {{ balance.nombre }}</p>
        <p><strong>Fecha:</strong> {{ balance.fecha }}</p>
    </div>
</div>
{% if messages %}
            <div class="mt-4">
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="d-flex justify-content-center">
    <a href="{% url 'crear_cuenta_balance' balance.idBalance %}" class="btn btn-success me-3 px-5">Crear cuenta</a>
    <a href="{% url 'crear_cuenta_excel_balance' balance.idBalance %}" class="btn btn-success me-3 px-5">Subir archivo</a>
    <a href="{% url 'lista_balance' %}" class="btn btn-secondary px-5">Regresar</a>
</div>


<!-- Tabla de cuentas asociadas al balance -->
<div class="card mb-4 mt-3">
    <div class="card-header bg-secondary text-white">
        <h4>Cuentas Asociadas</h4>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-bordered align-middle">
            <thead class="table-light">
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Monto ($)</th>
                </tr>
            </thead>
            <tbody>
                {% if cuentas %}
                    {% for cuenta in cuentas %}
                        <tr>
                            <td class="no-numero">{{ cuenta.codigo }}</td>
                            <td>{{ cuenta.nombre }}</td>
                            <td>{{ cuenta.monto|intcomma }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3" class="text-center">No hay cuentas asociadas a este balance.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

<!-- Controles de paginación -->
<div class="pagination">
    <span class="step-links">
        {% if cuentas.has_previous %}
            <a href="?page=1">&laquo; Primera</a>
            <a href="?page={{ cuentas.previous_page_number }}">Anterior</a>
        {% endif %}

        <span class="current">
            Página {{ cuentas.number }} de {{ cuentas.paginator.num_pages }}
        </span>

        {% if cuentas.has_next %}
            <a href="?page={{ cuentas.next_page_number }}">Siguiente</a>
            <a href="?page={{ cuentas.paginator.num_pages }}">Última &raquo;</a>
        {% endif %}
    </span>
</div>




{% endblock content %}