{% extends 'layout/base.html' %}
{% block titulo %}Detalles del Usuario{% endblock titulo %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Usuario</title>
</head>
<body>
    <h1>Detalles del Usuario</h1>
    <p><strong>ID:</strong> {{ usuario.id_usuario }}</p>
    <p><strong>Nombre:</strong> {{ usuario.nom_usuario }}</p>

    <p>Opciones Asociadas:</p>
    <ul>
        {% if opciones %}
        {% for opcion in opciones %}
        <li>{{ opcion }}</li>
        {% endfor %}
        {% else %}
        <li>No tiene opciones asociadas.</li>
        {% endif %}
    </ul>

    <a href="{% url 'lista_usuario' %}">Volver a la lista</a>
</body>
{% endblock %}
